<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DentalEmergency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BF261271F1FCDEF00C9A6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF2613B1F1FCDF100C9A6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF261461F1FCDF100C9A6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
